* {
    font-family: Roboto;
}

hr {
    border-color: #47B29C;
    margin: 0;
}

html {
    position: relative;
}

.cv-link {
    color: #E27A3F;
}

.main-col {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-menubar-item .mdl-navigation__link:hover {
    border-bottom: 5px solid #EFC94C;
}

.menu-item-active {
    border-bottom: 5px solid #EFC94C;
}

#myCarousel {
    max-height: 360px;
    max-width: 640px;
    margin: auto;
    margin-top: 0px;
}

.item > img {
    height: 360px;
    width: 640px;
    width: 100%;
}

.carouselWrapper {
    background-color: #45B29D;
    width: 100%;
    height: auto;
    padding: 0;
}

@media (min-width: 768px) {
    .item > img {
        height: 540px;
        width: 960px;
    }
    #myCarousel {
        max-height: 540px;
        max-width: 960px;
        margin: auto;
    }
}