* {
    font-family: Roboto;
}

hr {
    border-color: #47B29C;
    margin: 0;
}

.link {
    color: #E27A3F;
}

.main-col {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*
    CARDS
*/
.mdl-card.mdl-card {
    width: 400px;
}

.material-card {
    margin: auto;
}

.material-card > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../media/header2.png') center / cover;
}

.material-card > .mdl-card__menu {
    color: #fff;
}

.home-card{
    margin: 0;
}
/*
    CARDS
*/



.main-menubar-item > .mdl-navigation__link:hover,
.menu-item-active {
    border-bottom: 5px solid #EFC94C;
}

#myCarousel {
    max-height: 360px;
    max-width: 640px;
    margin: auto;
    margin-top: 0px;
}

.item > img {
    height: 360px;
    width: 640px;
    width: 100%;
}

.carouselWrapper {
    background-color: #45B29D;
    width: 100%;
    height: auto;
    padding: 0;
}

@media (min-width: 768px) {
    .item > img {
        height: 540px;
        width: 960px;
    }
    #myCarousel {
        max-height: 540px;
        max-width: 960px;
        margin: auto;
    }
}