.sd-layout__header {
  background-color: #334D5C !important;
}
a {
  text-decoration: none !important;
}
.sd-button--colored {
  color: #45B29D !important;
}
.sd-raised-button--colored {
  background-color: #45B29D !important;
}

td {
  min-width: 170px;
}
