.sd-layout__header {
  background-color: #334D5C !important;
}
a {
  text-decoration: none !important;
}
.sd-button--colored {
  color: #45B29D !important;
}
.sd-raised-button--colored {
  background-color: #45B29D !important;
}
td {
  min-width: 160px;
}
.mdl-layout-title {
  cursor: pointer;
}
@media (min-width: 1025px) {
  .mdl-layout__header-row {
    height: 66px !important;
  }
  .mdl-layout__header.is-compact {
    height: 66px !important;
    max-height: 66px !important;
  }
}
.mdl-layout__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
